<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <title>Información horaria</title>

    <!-- Load c3.css -->
    <link href= {{ url_for('static', filename='/js/c3/c3.css') }} rel="stylesheet">
    <!-- Load d3.js and c3.js -->
    <script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
    <script src={{ url_for('static', filename='/js/c3/c3.min.js') }}></script>
  </head>

  <style>
    .c3-line {
      stroke-width: 2px;
    }
  </style>

  <body>

    <button class="btn"><i class="fa fa-home" onclick="location.href='/'" type="button"></i></button>


    <div id="chart_olas"></div>
    <div id="chart_temps"></div>
    <div id="chart_mareas"></div>




  </body>


  <script>
        var oleaje = {{oleaje}};
        oleaje[0] = 'Altura de oleaje';

        var periodo = {{periodo}};
        periodo[0] = 'Periodo';

        var viento = {{viento}};
        viento[0] = 'Viento';

        var mareas = {{mareas}};
        mareas[0] = 'Marea';

        var temp_aire = {{temp_aire}};
        temp_aire[0] = 'Temperatura del aire';

        var temp_mar = {{temp_mar}};
        temp_mar[0] = 'Temperatura del mar';

        var timestamp = JSON.parse({{timestamp | tojson}});
        timestamp[0] = 'timestamp';

        var chart_olas = c3.generate({
            bindto: '#chart_olas',
            size: {
              height:300
            },
            data: {
              x: 'timestamp',
              xFormat: '%d-%m-%Y %H:%M',
              columns: [
                timestamp,
                oleaje,
                periodo,
                // viento,                
              ],
              axes: {
                Periodo: 'y2',
              },
              type: 'spline'
            },
            axis: {
              x: {
                  type: 'timeseries',
                  tick: {
                    format: '%d-%m-%Y %H:%M',
                    count : 10
                  }
              },
              y2: {
                show: true
              }
            },
            grid: {
              x: {
                  show: true
              },
              y: {
                  show: true
              }
            },
            zoom: {
              enabled: true
            },
            point: {
                show: false
            }
            
          
        });

        /////////////////////////////////////////////////
        var chart_mareas = c3.generate({
            bindto: '#chart_mareas',
            size: {
              height:300
            },
            data: {
              x: 'timestamp',
              xFormat: '%d-%m-%Y %H:%M',
              columns: [
                timestamp,
                mareas,           
              ],
              type: 'spline'
            },
            axis: {
              x: {
                  type: 'timeseries',
                  tick: {
                    format: '%d-%m-%Y %H:%M',
                    count : 10
                  }
              },
            },
            grid: {
              x: {
                  show: true
              },
              y: {
                  show: true
              }
            },
            zoom: {
              enabled: true
            },
            point: {
                show: false
            }
            
          
        });

        /////////////////////////////////////////////////////////

        var chart_olas = c3.generate({
            bindto: '#chart_temps',
            size: {
              height:300
            },
            data: {
              x: 'timestamp',
              xFormat: '%d-%m-%Y %H:%M',
              columns: [
                timestamp,
                temp_aire,
                temp_mar,
                // viento,                
              ],
              axes: {
                Periodo: 'y2',
              },
              type: 'spline'
            },
            axis: {
              x: {
                  type: 'timeseries',
                  tick: {
                    format: '%d-%m-%Y %H:%M',
                    count : 10
                  }
              },
              y2: {
                show: true
              }
            },
            grid: {
              x: {
                  show: true
              },
              y: {
                  show: true
              }
            },
            zoom: {
              enabled: true
            },
            point: {
                show: false
            }
            
          
        });

        // chart.regions.add(
        //   [
        //     {axis: 'x', start: '06-05-2022 00:00', end: '07-05-2022 00:00', class: 'regionX'}
        //   ]
        //   )
  </script>

</html>